# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Flask instance folder
instance/

# Flask cache directory
.flask_cache/
.cache/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Local env files
.env
.env.*
.venv
venv/
ENV/
env.bak/
env/

# Jupyter Notebook
.ipynb_checkpoints

# macOS files
.DS_Store

# Thumbnails
*.thumbnail

# IDEs and Editors
# VS Code
.vscode/
# PyCharm
.idea/
